<section>

    <h2 class="page-heading">Custom slider</h2>
    <div>
        <div id="customSlickId" class="custom_slick">
            {{#if theme_settings.show_custom_slide1 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide1 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide2 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide2 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide3 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide3 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide4 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide4 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide5 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide5 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide6 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide6 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide7 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide7 }}</div>
            {{/if}}
            {{#if theme_settings.show_custom_slide8 '===' true}}
            <div class="slick-custom-slide">{{ theme_settings.custom_slide8 }}</div>
            {{/if}}
        </div>
    </div>

</section>
